.redirect-three-popup-bg {
    background-image: url("../../../assets/redirect-three-popup-background.png");
    background-size: 100%;
    background-repeat: no;
    height: 485px;
}

.redirect-three-popup-visit-button {
	position: absolute;
	bottom: 50px;
	left: 500px;
	width: 336px;
}

.redirect-three-popup-donate-button {
	position: absolute;
	bottom: 50px;
	right: 200px;
	width: 336px;
	background-color: black;
}