.top-banner-bg {
    background-image: url("../../../assets/top-banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 9%;
    width: 100%;
}

.top-banner-button {
	width: 180px;
	height: 45px;
	color: white;
	background-color: #9B1725;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	font-family: 'nexa_boldregular';
    font-size: 24px;
	border-radius: 19px;
}

.top-banner-donate-button {
	position: absolute;
	top: 18%;
	right: 5%;
}
