.redirect-one-popup-bg {
    background-image: url("../../../assets/redirect-one-popup-background.png");
    background-size: 100%;
    background-repeat: no;
    height: 225px;
    bottom: 0px;
}

.redirect-one-popup-yes-button {
	position: absolute;
	top: 40px;
	right: 70px;
}

.redirect-one-popup-no-button {
	position: absolute;
	top: 120px;
	right: 70px;
	background-color: black;
}
