.redirect-one-popup-bg {
    background-image: url("../../../assets/redirect-one-popup-background.png");
    background-size: 100%;
    background-repeat: no;
    height: 145px;
}

.redirect-one-popup-yes-button {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 120px;
	color: white;
	background-color: red;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 19;
}

.redirect-one-popup-no-button {
	position: absolute;
	top: 80px;
	right: 20px;
	width: 120px;
	color: white;
	background-color: red;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 19;
}

.redirect-one-popup-learn-more-button {
	position: absolute;
	top: 140px;
	right: 20px;
	width: 120px;
	color: white;
	background-color: red;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 19;
}