<div class="flyout fullscreen">
    
    <div id="flyout-panel1" class="toast">
    	<button class="unshackled-button flyout-panel1-donate-button flyout-size" ng-click="flyoutPanel1DonateButton()">Donate</button>
    	<button class="unshackled-button flyout-panel1-info-button flyout-size smaller" ng-click="flyoutPanel1InfoButton()">More Info</button>
    </div>

    <div id="flyout-panel-give" class="toast"></div>
    <div id="flyout-large-popup" class="toast"></div>
    <div id="tell-your-friends-toast" class="toast">
		<a href="http://www.facebook.com/share.php?u=https://www.theatlantic.com/business/archive/2015/09/prison-labor-in-america/406177/" target="_blank">
			<img src="../../../assets/facebook-logo.png" class='facebook-logo'> </img>
		</a>
		<a href="https://ctt.ec/7qIu8" target="_blank">
			<img src="../../../assets/twitter-logo.png" class='twitter-logo'> </img>
		</a>
		<a href="https://www.instagram.com" target="_blank">
			<img src="../../../assets/instagram-logo.png" class='instagram-logo'> </img>
		</a>
	</div>
	<iframe class="fullscreen" src="https://www.walmart.com/"></iframe>
</div>