/*
.donate-cart-toast-bg {
    
    background-size: 100%;
    background-repeat: no;
    height: 75px;
    width: 500px;
    /*bottom: 0px;*/
/*}*/

.flyout-panel1-donate-button {
    position: absolute;
    top: 570px;
    right: 230px;
    background-color: #9D1725;
}

.flyout-panel1-info-button {
    position: absolute;
    top: 570px;
    right: 50px;
    background-color: black;
}

.flyout-size {
    height: 52px;
    width: 156px;
    font-size: 27px;
}

.smaller {
    font-size: 24px;
}

.bottom {
    top: 570px;
    left: 140px;
}

.more-info-donate {
    right: 523px;
    width: 292px;
    top: 525px;
    height: 52px;
    font-size: 21.5px;
}

.more-info-petition {
    right: 173px;
    width: 292px;
    height: 52px;
    top: 525px;
    font-size: 24px;
}

.flyout-button {
    top: 0px;
    right: 0px;
    height: 42px;
    width: 46px;
    background-color: black;
}

#flyout-button {
    visibility: hidden;
}

#flyout-button.show {

    visibility: visible; /* Show the snackbar */

    animation: fadein 0.5s;
}

#text-money {
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 120px; /* Center the snackbar */
    top: 240px; /* 30px from the bottom */
    height: 45px;
    width: 250px;
    font-size: 34.5px;
    text-align: center;
}

#cardName {
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 120px; /* Center the snackbar */
    top: 340px; /* 30px from the bottom */
    height: 30px;
    width: 250px;
    font-size: 26px;
    text-align: left;
}

#creditCard {
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 120px; /* Center the snackbar */
    top: 390px; /* 30px from the bottom */
    height: 30px;
    width: 250px;
    font-size: 26px;
    text-align: left;
}

#expiration {
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 120px; /* Center the snackbar */
    top: 440px; /* 30px from the bottom */
    height: 30px;
    width: 250px;
    font-size: 26px;
    text-align: left;
}

#cvv {
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 200px; /* Center the snackbar */
    top: 490px; /* 30px from the bottom */
    height: 30px;
    width: 90px;
    font-size: 26px;
    text-align: center;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#flyout-panel1 {
    background-image: url("../../../assets/flyout-popup.png");
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 436px; /* Set a default minimum width */
    min-height: 682px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    top: 0px; /* 30px from the bottom */
}

#flyout-panel-give {
    background-image: url("../../../assets/flyout-give-popup.png");
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 436px; /* Set a default minimum width */
    min-height: 682px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    top: 0px; /* 30px from the bottom */
}

#flyout-large-popup {
    background-image: url("../../../assets/Flyout-Panel-More-Info.png");
    background-size: contain;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 1030px; /* Set a default minimum width */
    min-height: 637px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    top: 0px; /* 30px from the bottom */
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#tell-your-friends-toast {
    background-image: url("../../../assets/social-prompt.png");
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 493px; /* Set a default minimum width */
    min-height: 174px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#flyout-panel1.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s;
}

#flyout-panel-give.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s;
}

#flyout-large-popup.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    /*animation: fadein 0.5s, fadeout 0.5s 2.6s;*/
    animation: fadein 0.5s;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#tell-your-friends-toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.6s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 5px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 5px; opacity: 1;}
    to {top: 0; opacity: 0;}
}