<div class="redirect-one fullscreen">
	<iframe class="fullscreen" src="https://www.walmart.com/"></iframe>
	  <div ng-if="alert">
	    <br/>
	    <b layout="row" layout-align="center center" class="md-padding">
	      {{alert}}
	    </b>
	  </div>
	  <div id="donate-please-toast" class="toast">
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3A9URHKC8XYWS" target="_blank">
		<button class="unshackled-button donate-cart-donate-button" ng-click="buttonClick()">Donate</button>
 		</a>
 		<a href="https://www.theatlantic.com/business/archive/2015/09/prison-labor-in-america/406177/" target="_blank">
 			<button class="unshackled-button donate-cart-more-info-button" ng-click="buttonClick()">More Info</button>
 		</a>
	</div>
</div>