<div class="redirect-one fullscreen">


	<div id="flyout-panel-give" class="toast">
    	<input type="text" name="" id="text-money" class="money" placeholder="Amount - $100">
    	<input type="text" name="Name On Card" id="cardName" class="money" placeholder="Name On Card">
    	<input type="text" name="" id="creditCard" class="money" placeholder="Credit Card Number">
    	<input type="text" name="" id="expiration" class="money" placeholder="Expiration Date">
    	<input type="text" name="" id="cvv" class="money" placeholder="CVV">
    	<button class="unshackled-button flyout-panel1-donate-button flyout-size bottom" ng-click="flyoutPanelDonateButton2()">Donate</button>
    </div>
    
	<iframe class="fullscreen" src="https://www.walmart.com/"></iframe>
	  <div ng-if="alert">
	    <br/>
	    <b layout="row" layout-align="center center" class="md-padding">
	      {{alert}}
	    </b>
	  </div>
	  <div id="donate-please-toast" class="toast">

		<button class="unshackled-button donate-cart-donate-button" ng-click="donateDonate()">Donate</button>
 
 		<a href="https://www.theatlantic.com/business/archive/2015/09/prison-labor-in-america/406177/" target="_blank">
 			<button class="unshackled-button donate-cart-more-info-button" ng-click="buttonClick()">More Info</button>
 		</a>
	</div>
</div>